@model List<GuitarPick.DataLayer.DataModels.News>
@{
    ViewBag.Title = "About&News";
}

<h2>About & News</h2>

<p>I had a dream of offering great guitars at a great price. We were establish in June 2017 when I was told to make this website for a class project. Please look around and buy something.</p>
@foreach (var news in Model)
{
    <div>
        <h2>@news.Title</h2>
        <p>@news.Body</p>
        <p>Keep Rocking! <br />-@news.Author <br />Posted on @news.DatePosted</p>
    </div>
}