@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="slideNText">
    <img class="mySlides" src="~/Images/img1.jpg">
    <img class="mySlides" src="~/Images/img2.jpg">
    <img class="mySlides" src="~/Images/img3.jpg">
    <img class="mySlides" src="~/Images/img4.jpg">
    <p class="homePage">
        Welcome to GuitarPick! We might be new to the stage, but we have a passion for guitars and all thing music related. We sell a great selection of guitars. We believe that learning an instrument is a great skill to have and learning guitar is the best.
        Who doesn't want to be a famous rock star? Please look at our selection of guitars. You're only one chord away from being the best.
    </p>
</div>
<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 5000);
}
</script>